

.ant-dropdown-menu-title-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.g-menu-01 {
  .ant-dropdown-menu-item-active {
    background-color: #e6f4ff !important;
  }
}

.g-keep-all {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}