html, body {
  margin: 0;
  padding: 0;
}

.ant-dropdown-menu-title-content {
  white-space: nowrap; /* 禁止文本换行 */
  overflow: hidden;    /* 隐藏超出容器的内容（可选） */
  text-overflow: ellipsis; /* 超出部分显示省略号（可选） */
}

.g-menu-01 {
  .ant-dropdown-menu-item-active {
    background-color: #e6f4ff !important;
  }
}

.g-keep-all {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}